#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(183, 219, 243);
    color: rgb(4, 38, 48);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(33, 89, 141);
}
button:active{
    background-color: rgb(26, 46, 59);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}